.bgr{
    background-color: #595959;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.user-strip {
    background-color:#595959;
    font-size: 15px;
    color: #c4c2bb;

}
.flex {
    display: flex;
    justify-content: space-between;
}
.nav-user-strip {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    flex-grow: 1;
}
.nav-user-strip li{
padding: 11px 12px;
border-left: 1px solid #555552;
}
.nav-user-strip a{
    text-decoration: none;
    background-color: #a4ba73;
    border-color: #a4ba73;
    border-radius: 3px;
}

.header-gopremium a{
    padding: 2px 8px;
    color: #fff;
}
.header-youarenot {
    color: #f7e9a8;
}

/* header */
.nav-header {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-menu {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.menu-mobie {
    display: none;
}
.nav-menu li{
    position: relative;
}
.nav-menu ul {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    z-index: 350;
    color: #595959;
    text-align: left;
    top: 65px;
    left: 0;
}
.submenu-DNA li {
    padding: 0px !important;
}
.submenu-DNA a {
    padding: 10px !important;
}
.nav-menu ul a:hover {
    color: #595959 !important;
}
.nav-menu li:hover ul{
    display: block;
}
.nav-menu li:hover,.nav-menu a:hover {
    background-color: #f7f7f7;
    color: #e76f2f !important;
}
.nav-menu li{
    width: 100%;
    padding: 10px;
}
.nav-menu a{
    font-size: 25px;
    color: #555552;
    padding: 10px 0 10px 0;
    display: inline-block;
}
.nav-logo {
    margin: 10 10px 0 0;
    background-position: 71px -68px;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 20%;
    height: 40px;
    background-image: url(../image/masterpage_sprite.png);
}
.nav-header-menu .nav-logo:hover {
    background-color: transparent;
    background-position: 71px -30px;
    background-repeat: no-repeat;
}
.none-nomobie {
    display: none;
}
/* main */
.main-img {
    width: 100%;
}
.main-img-mobie {
    display: none;
    width: 100%;
}
.main-background_relative{
    position: relative;
}
.main-background {
    
    position: absolute;
}
.title-main {
    box-sizing: border-box;
    width: 300px;
    font-size: 40px;
    color: #fff;
    margin: 15%;
}
/* manager */
.managers {
    margin-top: 25px;
}
.managers span {
    color: #646362;
}
.managers-img {
    width: 30%;
    text-align: center;
}
.managers-content {
    margin: 13px 0;
    width: 50%;
    padding: 0 15px;
}
.managers-content a:hover {
    text-decoration: underline;
}
.manager_title{
    font-weight: 400;
    font-size: 20px;
    padding: 5px 0;
    color: #646362;
}
.summary_text {
    display: block;
    width: 90%;
    box-sizing: border-box;
    color: #646362;
}
.read_more {
    color: #e76f2f;
}
.managers img{
    filter: grayscale(100%);
}
.managers img:hover {
    filter: grayscale(0%);
}
.managers-name {
    font-size: 28px;
    font-weight: 300;
    color: #e76f2f;
}
.managers-ceo {
    display: flex;
}
/*managers-details*/
.managers-row {
    display: flex;
    align-items: center;
}
.manager {
    margin: 20px 0;
    text-align: center;
    width: 30%;
}
.manager-photo{
    margin-bottom: 10px;
}
.manager-title {
    display: block;
    margin: 10px 0;
}
.manager-details a{
    display: block;
}
/*foter*/
.footer-end {
    background-color: #646362;
    padding: 46px 0 30px;
}
.footer-section {
    width: 30%;
}
.footer-logo {
    width: 48%;
    height: 45px;
    background-position: 0px 8px;
    background-repeat: no-repeat;
    background-image: url(../image/masterpage_sprite.png);
}
.footer-table {
    text-align: left;
    font-size: 20px;
    width: 70%;
}
table tr, th ,td {
    color: rgba(255,255,255,.6);
    text-align: left;
    padding: 5px;
    padding-right: 75px;
}
th {
    font-weight: bold;
}
.button-premium {
    line-height: 3;
    color: #fff;
    border-color: #a4ba73;
    background-color: #a4ba73;
    padding: 5px 9px;
    border-radius: 15px;
}
.button-order {
    line-height: 3;
    color: #fff;
    border-color: #a4ba73;
    background-color: #e960f3;;
    padding: 5px 9px;
    border-radius: 15px;
}
.button-facebook {
    display: inline-block;
    background-position: -220px 0px;
    height: 35px;
    width: 36px;
    background-image: url(../image/masterpage_sprite.png);
    background-repeat: no-repeat;
}
.button-twitter {
    display: inline-block;
    background-position: -150px -147px;
    height: 35px;
    width: 36px;
    background-image: url(../image/masterpage_sprite.png);
    background-repeat: no-repeat;
}
.copyright {
    font-size: 12px;
    color: rgba(255,255,255,.4);
    white-space: nowrap;
}
.on-menu-mobie{
    display: block;
    width: 30%;

}
.container-click{
    width: 100%;
}
/* css-mobie */
@media only screen and (max-width: 750px){
    .container {
        width: 100%;
    }
    .user-strip {
        display: none;
    }
    
    .none-mobie {
        display: none;
    }
    .none-nomobie {
        padding: 10px;
        display: block;
    }
    .nav-header-menu {
        align-items: center;
        display: flex;
    }
    .nav-logo {
        margin: 0px auto 0 180px;
        background-position: 71px -68px;
        background-repeat: no-repeat;
        overflow: hidden;
        width: 32%;
        height: 40px;
        background-image: url(../image/masterpage_sprite.png);
    }
    .main-img {
        display: none;
    }
    .main-img-mobie {
        display: block;
    }
    .managers-row {
        flex-direction: column;
    }
    .manager {
        width: 100%;
    }
    .managers-ceo {
        text-align: center;
        display: block;
    }
    .managers-img {
    width: 100%;
    }
    .managers-content {
    width: 100%;
    padding: 0;
    }
    .title-main {
        text-align: center;
        font-size: 29px;
        width: 100%;
        margin: 0;
    }
    .managers img {
        filter: grayscale(0%);
    }
}