.container {
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.user-strip {
    background-color:#595959;
    font-size: 15px;
    color: #c4c2bb;

}
.flex {
    display: flex;
    justify-content: space-between;
}
.nav-user-strip {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    flex-grow: 1;
}
.nav-user-strip li{
padding: 11px 12px;
border-left: 1px solid #555552;
}
.nav-user-strip a{
    text-decoration: none;
    background-color: #a4ba73;
    border-color: #a4ba73;
    border-radius: 3px;
}

.header-gopremium a{
    padding: 2px 8px;
    color: #fff;
}
.header-youarenot {
    color: #f7e9a8;
}

/* header */
.nav-header {
    background-color: #fff;
    position: sticky;
    top: 0;
}
.nav-menu {
    text-align: center;
    align-items: center;
}
.nav-menu li:hover,.nav-menu a:hover {
    background-color: #f7f7f7;
    color: #e76f2f !important;
}
.nav-menu li{
    width: 100%;
}
.nav-menu a{
    font-size: 25px;
    color: #555552;
    padding: 10px 0 10px 0;
    display: inline-block;
    width: 100%;
}
.nav-logo {
    background-position: 65px -68px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: 45px;
    background-image: url(../image/masterpage_sprite.png);
}
.nav-menu .nav-logo:hover {
    background-color: transparent;
    background-position: 65px -30px;
    background-repeat: no-repeat;
    height: 45px;
}
/* main */
.main-img {
    width: 100%;
}
.main-background_relative{
    position: relative;
}
.main-background {
    
    position: absolute;
}
.title-main {
    box-sizing: border-box;
    width: 300px;
    font-size: 40px;
    color: #fff;
    margin: 15%;
}
/* manager */
.managers {
    margin-top: 25px;
}
.managers-img {
    width: 30%;
    text-align: center;
}
.managers-content {
    margin: 13px 0;
    width: 50%;
    padding: 0 15px;
}
.managers-content a:hover {
    text-decoration: underline;
}
.manager_title{
    font-weight: 400;
    font-size: 20px;
    padding: 5px 0;
    color: #646362;
}
.summary_text {
    box-sizing: border-box;
    color: #646362;
}
.read_more {
    color: #e76f2f;
}
.managers img{
    filter: grayscale(100%);
}
.managers img:hover {
    filter: grayscale(0%);
}
.managers-name {
    font-size: 28px;
    font-weight: 300;
    color: #e76f2f;
}
.managers-ceo {
    display: flex;
}
/*managers-details*/
.managers-row {
    display: flex;
    align-items: center;
}
.manager {
    margin: 20px 0;
    text-align: center;
    width: 30%;
}
.manager-photo{
    margin-bottom: 10px;
}
.manager-title {
    display: block;
    margin: 10px 0;
}
.manager-details a{
    display: block;
}
/*foter*/
.footer-end {
    background-color: #646362;
    padding: 46px 0 30px;
}
.footer-section {
    width: 30%;
}
.footer-logo {
    width: 48%;
    height: 45px;
    background-position: 0px 8px;
    background-repeat: no-repeat;
    background-image: url(../image/masterpage_sprite.png);
}
.footer-table {
    text-align: left;
    font-size: 20px;
    width: 70%;
}
table tr, th ,td {
    color: rgba(255,255,255,.6);
    text-align: left;
    padding: 5px;
    padding-right: 75px;
}
th {
    font-weight: bold;
}
.button-premium {
    line-height: 3;
    color: #fff;
    border-color: #a4ba73;
    background-color: #a4ba73;
    padding: 5px 9px;
    border-radius: 15px;
}
.button-order {
    line-height: 3;
    color: #fff;
    border-color: #a4ba73;
    background-color: #e960f3;;
    padding: 5px 9px;
    border-radius: 15px;
}
.button-facebook {
    display: inline-block;
    background-position: -220px 0px;
    height: 35px;
    width: 36px;
    background-image: url(../image/masterpage_sprite.png);
    background-repeat: no-repeat;
}
.button-twitter {
    display: inline-block;
    background-position: -150px -147px;
    height: 35px;
    width: 36px;
    background-image: url(../image/masterpage_sprite.png);
    background-repeat: no-repeat;
}
.copyright {
    font-size: 12px;
    color: rgba(255,255,255,.4);
    white-space: nowrap;
}